body{
    background-color: #2a273c;
    background-size: cover;
    color: white;
}
.nav-div{
    height: 170px;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:5px;
    padding-left: 5%;
    padding-right: 10%;
    border-radius: 2px;
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    color: rgb(255, 38, 0);
    font-size: 30px;
}
span{
    color: rgb(11, 23, 97);
    margin-left:3px ;
    font-size: 140%;
    
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

    

}
nav ul li a{
    color: rgb(11, 23, 97);
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover{
    color: rgb(255, 38, 0);
    transition: .3s;

}

.contact-button{
    color: white;
    background-color: rgb(248, 73, 42);
    border: none;
    border-radius: 30px;
    padding:12px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.contact-button:hover{
    transform: scale(1.2);
    cursor: pointer;
 
    
}

     
.submit-button{
    background-color: rgb(248, 73, 42);    color: black;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    cursor: pointer;     
    margin-top: 6px;
    font-family: 'Montserrat', sans-serif;
 }
 
 p,h2,form{
    font-family: 'Montserrat', sans-serif;
 }
 div{
    margin-left: 10px;
 }
 .div-form{
    margin: auto;
    text-align: center;
    border-radius: 5px;
    background-color: #272530;
    padding: 20px;
    border: none;
    width:50%;

 }
 input, textarea{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    font-family: monospace;  
}





